* {
  font-family: "Changa", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  cursor: url(extraImagens/iconmonstr-cook-3.svg), default;
}


.flex-container {
  display: flex;
  justify-content: center;
}

.divClass {
  width: 100%;
  height: 50vh;
  background-color: aliceblue;
  font-style: italic;
  color: #2b3467;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
}

.divClass1 {
  position: relative;
  height: 100vh;
}

.positionabsolute01 {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 15px;
  color: white;
  text-align: justify;
}

.imageD {
  width: 100%;
  height: 100%;
}

.capitais {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: aliceblue;
  padding: 50px;
}


.capitais > div {
  float: left;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #888888;
  margin: 10px;
}

.capitais img {
  border-radius: 20px 0px 0px 20px;
  height: 100%;
}

.capitais div div:last-child {
  width: 150px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capitais p {
  color: black;
}

.tamanho {
  height: 10vh;
  background-color: #2b3467;
  color: white;
  text-align: center;
}

.headerIndex {
  position: sticky;
  height: 10vh;
  background: #2b3467;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.headerIndex div {
  font-size: 1em;
  padding: 1em;
}

.headerIndex nav {
  display: flex;
  justify-content: flex-end;
}

.headerIndex a {
  text-decoration: none;
}

.azinhos {
  text-decoration: none;
  font-weight: bold;
}

nav a {
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

a:hover {
  color: lightgray;
  font-weight: bold;
}

.titulo {
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  padding: 0 2vw;
  align-items: center;
  color: white;
  background-color: #2b3467;
}

.lisbon > img {
  clip: rect(60px 0px 0px 0px);
}

.textCapitais {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-style: oblique;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #2b3467;
  background-color: #fcffe7;
}

.textPratosTipicos {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-style: oblique;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #2b3467;
  background-color: #fcffe7;
}

.textDocesTipicos {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-style: oblique;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #2b3467;
  background-color: #fcffe7;
}

.contentorComidas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: aliceblue;
  padding: 50px;
}


.contentorDoces {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: aliceblue;
  padding: 50px;
}


.foodCard {
  display: block;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.foodImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.foodBruxelas {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodBelgica.jpg);
  background-size: cover;
  text-align: center;
}

.foodBudapeste {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodBudapeste.jpg);
  background-size: cover;
  text-align: center;
}

.foodLisboa {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodLisboa.jpg);
  background-size: cover;
  text-align: center;
}

.foodLondres {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodLondres.jpg);
  background-size: cover;
  text-align: center;
}

.foodMilao {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodMilao.webp);
  background-size: cover;
  text-align: center;
}

.foodParis {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodParis.jpg);
  background-size: cover;
  text-align: center;
}

.foodPraga {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodPraga.jpg);
  background-size: cover;
  text-align: center;
}

.foodReykiavik {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodReykiavik.jpg);
  background-size: cover;
  text-align: center;
}

.foodRoma {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodRoma.webp);
  background-size: cover;
  text-align: center;
}

.foodVarsovia {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodVarsovia.avif);
  background-size: cover;
  text-align: center;
}

.foodViena {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(pratosTipicos/foodViena.jpg);
  background-size: cover;
  text-align: center;
}

.doceImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.docesCard {
  display: block;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.doceImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.doceBruxelas {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceBelgica.webp);
  background-size: cover;
  text-align: center;
}

.doceBudapeste {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceBudapeste.jpg);
  background-size: cover;
  text-align: center;
}

.doceLisboa {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceLisboa.jpg);
  background-size: cover;
  text-align: center;
}

.doceLondres {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceLondres.jpg);
  background-size: cover;
  text-align: center;
}

.doceMilao {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceMilao.jpg);
  background-size: cover;
  text-align: center;
}

.doceParis {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceParis.jpg);
  background-size: cover;
  text-align: center;
}

.docePraga {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/docePraga.jpg);
  background-size: cover;
  text-align: center;
}

.doceReykiavik {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceReykiavik.jpg);
  background-size: cover;
  text-align: center;
}

.doceRoma {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceRoma.webp);
  background-size: cover;
  text-align: center;
}

.doceVarsovia {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceVarsovia.jpg);
  background-size: cover;
  text-align: center;
}

.doceViena {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(docesTipicos/doceViena.jpg);
  background-size: cover;
  text-align: center;
}

.textMelhorRestaurante {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-style: oblique;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #2b3467;
  background-color: #fcffe7;
}

.contentorRestaurantes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: aliceblue;
  padding: 50px;
}

.restaurantesCard {
  display: block;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.textRestauranteH4 {
  background-color: aliceblue;
  text-align: center;
  font-style: italic;
  text-decoration: none;
}

.restauranteImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.restauranteBruxelas {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/restBruxelas.avif);
  background-size: cover;
  text-align: center;
}

.restauranteBudapeste {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resBudapeste.jpg);
  background-size: cover;
  text-align: center;
}

.restauranteLisboa {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resLisboa.avif);
  background-size: cover;
  text-align: center;
}

.restauranteLondres {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resLondres.avif);
  background-size: cover;
  text-align: center;
}

.restauranteMilao {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resMilao.avif);
  background-size: cover;
  text-align: center;
}

.restauranteParis {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resParis.avif);
  background-size: cover;
  text-align: center;
}

.restaurantePraga {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resPraga.jpg);
  background-size: cover;
  text-align: center;
}

.restauranteReykiavik {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resReykiavik.jpg);
  background-size: cover;
  text-align: center;
}

.restauranteRoma {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resRoma.avif);
  background-size: cover;
  text-align: center;
}

.restauranteVarsovia {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resVarsovia.avif);
  background-size: cover;
  text-align: center;
}

.restauranteViena {
  width: 120px;
  height: 120px;
  background-color: #2b3467;
  border-radius: 120px;
  background-image: url(restaurantesCapitais/resViena.avif);
  background-size: cover;
  text-align: center;
}

.text-grid {
  background-color: #2b3467;
  padding: 20px;
  width: auto;
  font-size: 20px;
  text-align: center;
  color: white;
}

.main-grid {
  background-image: url(extraImagens/lisboa1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid {
  background-image: url(extraImagens/lisboa2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid {
  background-color: rgb(207, 154, 9);
}

.headerIndex {
  grid-area: header;
}
nav {
  grid-area: menu;
}
main {
  grid-area: main;
}
aside {
  grid-area: right;
}
footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header header  header"
    "menu   main    right"
    "footer footer  footer";

  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 10vh 1fr 0px;
}

.main-grid-02 {
  background-image: url(extraImagens/annie-spratt-BAj9EOZiDaE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid-02 {
  background-image: url(extraImagens/angele-kamp--OQbUQce54k-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid-02 {
  background-color: #EEEEEE;
}

.grid-container-02 {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header"
    "menu"
    "main"
    "right"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 10vh 20vh 1fr 30vh 0;
}

.main-grid-03 {
  background-image: url(extraImagens/luca-severin-kdN6IIjq_mE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid-03 {
  background-image: url(extraImagens/dennis-irorere-vr2lk6bo67I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid-03 {
  background-image: url(extraImagens/aron-visuals-LryOyGjm1bo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.grid-container-03 {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header header  header"
    "right   menu   main"
    "footer footer  footer";

  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 10vh 88vh 0fr;
}

.main-grid-04 {
  background-image: url(extraImagens/khachik-simonian-7DbiigrZ-iU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid-04 {
  background-image: url(extraImagens/viktoria-spokojna-HnOQIEnbDUA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid-04 {
  background-image: url(extraImagens/guillermo-latorre-Y44x1mQB2Xc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}


.grid-container-04 {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header header  header"
    "main   main  menu"
    "main   main  right"
    "footer footer  footer";

  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 10vh 1fr 1fr 0vh;
}


.main-grid-05 {
  background-image: url(extraImagens/guillermo-latorre-m-7qmB3dehs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid-05 {
  background-image: url(extraImagens/zhi-xuan-hew-MIwkEqT5f_I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid-05 {
  background-image: url(extraImagens/luther-m-e-bottrill-PQkvbcqBHGQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}


.grid-container-05 {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header header  header"
    "right   main  main"
    "right  menu  menu"
    "footer footer  footer";

  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 10vh 1fr 1fr 0vh;
}

.main-grid-06 {
  background-image: url(extraImagens/james-kirkup-HHVfl_-3Gmo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.aside-grid-06 {
  background-image: url(extraImagens/rui-alves-OshSuaCgso8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.nav-grid-06 {
  background-image: url(extraImagens/tatiana-alves-53JiqanHPn0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}


.grid-container-06 {
  display: grid;
  height: 100vh;
  gap: 10px;
  background-color: aliceblue;

  grid-template-areas:
    "header header  header"
    "main   main  menu"
    "right   right  right"
    "footer footer  footer";

  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 10vh 1fr 1fr 0vh;
}
